footer {
    background-color: #fa7f72;
    text-align: center;
    font-size: small;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-title {
    text-align: center;
    font-size: xx-large;
}

.card-subtitle {
    text-align: center;
    font-size: large;
}

.card-text {
    text-align: center;
    font-size: medium;
}

body {
    background-color: #8cf2d0;
}