.carousel-wrapper * {
    display: inline-block;   
}

.titulo {
    color: black;
    background-color: transparent;
    font-size: 3rem;
    width: fit-content;
    margin: auto;
}

.carousel-wrapper {
    align-items: center;
    justify-content: center;
    padding:20px;
    vertical-align: middle;
}

.carousel-wrapper a {
    font-weight: bold;
    cursor: pointer;
}

.carousel-principal {
    width: 93% !important;
    overflow: hidden;
}

#prev {
    float: left;
    font-size: 40px;
}

#next {
    float: right;
    font-size: 40px;
}

.item-list {
    width: 4000%;
    transition: 0.5s all;
}

.item-list > .item {
    display: inline-block;
    width: 200px;
    margin: 25px 25px;
    padding: 20px;
    border: solid 2px black;
    border-radius: 20px;
    width: 300px;
    background-color: white;
    height: fit-content;
    top: 0;
}

.item h2 {
    margin: 10px 0px;
    font-size: 1.7rem;
}

.item-desc article {
    font-size: 0.9rem;    
}

.item-button, .button-pesquisar {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    background: salmon;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.pesquisa-header * {
    display: block !important;
}

.pesquisa-header h1 {
    background-color: transparent;
    color: black;
    margin-top: 20px;
}

#pesquisar {
    width: 500px;
}